<!-- developers.ejs -->
<html>
  <head>
    <title>Developers</title>
  </head>
  <body>
    <% developers.forEach((developer, index) => { %>
        <h2 ><%= developer.name %></h2>
        <% if (!single) {  %>
          <h3>Games released:</h3>
          <span><%= developer.games%></span>
        <form action=<%="developers/" + developer.id%> method="GET">
  <button type="submit">Edit developer</button>
</form>
      <% }  else { %>
        <form action=<%=  developer.id %> method="POST" >
            <input type="text" name="name" id="name" value="<%= developer.name %>" required />
            <button type="submit">Submit</button>
        </form>
        <% } %>
        <form action=<%="/" + developer.id %> method="POST" onsubmit="return confirm('Are you sure you want to delete this?');">
            <input type="hidden" name="csrf_token" value="xyz123"> <!-- CSRF Protection -->
            <button type="submit" style="color: red;">Delete Developer</button>
        </form>
        <% }); %>
        <button><a href="/new">Add new developer</a></button>
  </body>
</html>